body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
.sample-saved-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-tan);
    width: 100%;
    height: 17.5%;
}
.your-new-sample {
    position: absolute;
    vertical-align: top;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 80%;
    font-size: 30px;
}
.your-new-sample1 {
  position: absolute;
  vertical-align: top;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 80%;
  font-size: 30px;
}
.qrCode {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 65%;
    left: 40%;
}
.qrCode img {
    width: 100%;
    height: 100%;
}
.print-qr-sticker-wrapper, .return-to-home-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs);
    background-color: var(--color-gray-200);
    position: absolute;
    width: 35%;
    height: 10%; /* Increased height for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
}
.print-qr-sticker-wrapper {
    top: 50%;
    left: 10%;
    font-size: 2vh;
}
.return-to-home-wrapper {
    top: 50%;
    left: 55%;
    font-size: 2vh;
}
.print-qr-sticker, .return-to-home {
  color: white;
}
.sample-saved {
    width: 100%;
    height: 100vh; /* Use viewport height to prevent scrolling */
    position: relative;
    background-color: var(--color-blanchedalmond);
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
    font-family: var(--font-lohit-devanagari);
}
@media screen and (max-width: 750px) {
    .your-new-sample {
        font-size: var(--font-size-19xl);
    }
}
@media screen and (max-width: 450px) {
    .your-new-sample {
        font-size: var(--font-size-10xl);
    }
}
@media print {
    body * {
        display: none !important;
    }
    .qrCode {
        display: block !important;
        width: 100%; /* Set the width of the QR code to fill the page */
        height: auto; /* Auto-adjust the height to maintain aspect ratio */
        position: static; /* Reset the position to static */
        margin: 0; /* Remove any margin */
        padding: 0; /* Remove any padding */
    }
    .qrCode img {
        display: block !important;
    }
}